.trash {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  border: transparent;
  padding: 0;
}

.addForm{
  border-radius: 50vh;
  height: 30px;
}

.addButton{
  border-radius: 50vh;
  width: 30px;
  height: 30px;
}